* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  background: #040F28;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

[class*=__conteiner] {
  max-width: 76.875rem;
  margin: 0rem auto;
  padding: 0rem .9375rem;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

body._lock {
  overflow: hidden;
}

.__ibg {
  position: relative;
}

.__ibg {
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

@-webkit-keyframes show__header {
  0% {
    opacity: 0;
    top: -4.375rem;
  }

  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes show__header {
  0% {
    opacity: 0;
    top: -4.375rem;
  }

  100% {
    opacity: 1;
    top: 0rem;
  }
}

.header__fixed {
  position: fixed;
  -webkit-animation-name: show__header;
  animation-name: show__header;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.footer {
  margin-top: auto;
}

/*========================*/

$maxWidth: 1920;
$maxWidthContainer: 1440;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    //тільки якщо менше контеінера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    //тільки якщо більше контеінера
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    //Завжди 
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
    url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/*============header===============*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 51;
  padding: 3.1875rem 0rem;
}

.header__fixed {
  padding: .9375rem 0rem;
  background: #070707bf;
}

.header__conteiner {
  display: flex;
  align-items: center;
  @include adaptiv-value("gap", 50, 20, 1);
}

.header__logo {
  flex: 1 1 auto;
}

.header__burger {
  display: none;
}

.nav__list {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3.125rem;
  row-gap: 1.25rem;
}

.nav__link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #646464;
  transition: color 0.3s ease 0s;

  &:hover {
    color: #C4C4C4;
  }
}

.header__btn {
  padding: 1rem 2rem;
  border: .125rem solid #C4C4C4;
  border-radius: 5.4375rem;
  transition: all 0.3s ease 0s;

  &:hover {
    background: #FC3867;
    border: .125rem solid #FC3867;
  }

  &:hover a {
    text-decoration: underline;
  }

  a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #FFFFFF;
  }
}

@media (max-width: 64rem) {
  .nav__list {
    column-gap: 1.875rem;
  }
}

@media (max-width: 47.9375rem) {
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    cursor: pointer;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0rem, -50%);
  }

  .header__burger._active span {
    transform: scale(0) translate(0rem, -50%);
  }

  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0rem, -50%);
  }

  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0rem, 50%);
  }

  .menu__body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-100%, 0rem);
    background-color: #040F28;
    padding: 6.25rem 1.875rem 1.875rem 1.875rem;
    transition: all 0.3s ease 0s;
    font-size: 1.5rem;
    overflow: auto;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }

  .nav__link {
    font-size: 1.5rem;
  }

  .menu__body._active {
    transform: translate(0rem, 0rem);
  }
}

@media (max-width: 26.5625rem) {
  .header__btn {
    padding: 1rem 1.25rem;
  }
}

/*================main===================*/
.main {
  position: relative;
  padding-top: 10.625rem;
}

.main__block {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__text {
  transform: translate(-200%,0px);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
}
.main__text-title {
  h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.625rem;
    text-transform: capitalize;
    color: #C4C4C4;
    max-width: 28.75rem;
  }

  &:not(:last-child) {
    margin: 0rem 0rem 1.25rem 0rem;
  }
}

.main__text-sub-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #646464;
  max-width: 30.4375rem;

  &:not(:last-child) {
    margin: 0rem 0rem 2.5rem 0rem;
  }
}

.main__btn {
  padding: .875rem 1.875rem;
}

.button {
  display: inline-block;
  background: #FC3867;
  border: .125rem solid #FC3867;
  border-radius: 5.4375rem;
  transition: all 0.3s ease 0s;

  &:hover {
    background: #040F28;
    border: .125rem solid #C4C4C4;
  }

  &:hover a {
    text-decoration: underline;
  }

  a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 180%;
    color: #FFFFFF;
  }
}

.main__img-posi1 {
  position: absolute;
  left: 0;
  top: 0;
}

.main__img-posi2 {
  position: absolute;
  right: -2.5rem;
  bottom: -17.8125rem;
}
.main__img {
  transform: translate(200%,0px);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
}
@media (max-width: 68.75rem) {
  .main__block {
    flex-direction: column;
    gap: 1.875rem;
  }
}
@media (max-width: 26.5625rem) {
  .main__btn {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }
}
/*===============static__block=======================*/
.static {
  background: #FFFFFF;
  color: #000;
  position: relative;
  z-index: 3;
  padding: 5.625rem 0rem 5.3125rem 0rem;
}
.static__block {
   display: flex;
    flex-wrap: wrap;
    row-gap: 1.875rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.static__body-namber {
  font-weight: 700;
font-size: 4rem;
line-height: 4.625rem;
letter-spacing: -0.005em;
color: #070707;
&:not(:last-child)
  {margin: 0rem 0rem 1rem 0rem;}
}

.static__body-title {
  font-weight: 700;
font-size: 1.125rem;
line-height: 1.4375rem;
letter-spacing: -0.005em;
color: #070707;
&:not(:last-child)
  {margin: 0rem 0rem .5rem 0rem;}
}

.static__body-sub-title {
  font-family: 'DM Sans';
font-size: 1rem;
line-height: 1.3125rem;
letter-spacing: -0.005em;
color: #C4C4C4;
}
.static__body {
  flex: 0 1 33.33%;
  position: relative;
  padding: 0rem .9375rem;
}
.static__body-nuber-conteiner {
  display: flex;
  justify-content: center;
}
.static__body-namber2 {
  font-weight: 700;
font-size: 4rem;
line-height: 4.625rem;
letter-spacing: -0.005em;
color: #070707;
}
@media (min-width: 56.25rem) {
  .static__body {
    &:not(:last-child)::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: .0625rem;
      background: #D8D8D8;
    }
  }
}
@media (max-width: 56.25rem) { 
  .static__body {
  flex: 0 1 40%;
  }
}
@media (max-width: 31.25rem) { 
  .static__body {
  flex: 0 1 51%;
  }
}
/*===================services__block==========================*/
.services {
  @include adaptiv-value("margin-top", 150, 80, 1);
}
.services-text-conteiner {
  transform: translate(0px,70%);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 0rem;
    row-gap: 1.875rem;
}
.services-text-block {
  max-width: 29.8125rem;
  padding-right: .9375rem;
}
.services-text-block-sub-title {
line-height: 1.125rem;
letter-spacing: .0625rem;
text-transform: uppercase;
}
.services-text-block-title {
  font-weight: 700;
@include adaptiv-value("font-size", 40, 35, 1);
line-height: 3.75rem;
letter-spacing: -0.0313rem;
text-transform: capitalize;
&:not(:last-child)
  {margin: .75rem 0rem 0rem 0rem;}
}
.services-text-body {
  line-height: 180%;
  max-width: 25rem;
}
.services-paig-body {
  transform: scale(0);
    transition: all 0.8s;
    &._active {
    transform: scale(1);
    opacity: 1;
    }
}
.services-paig {
  display: flex;
  flex-wrap: wrap;
    column-gap: 0rem;
    row-gap: 3.125rem;
    justify-content: center;
  margin: 3.75rem 0rem 0rem 0rem;
}
.services-paig-body {
  position: relative;
  display: flex;
  gap: 1.6875rem;
  flex: 0 1 33.3333%;
  justify-content: center;
}
.services-paig-body-text {
  max-width: 15.1875rem;
}
.services-paig-body-title {
  font-weight: 700;
font-size: 1.25rem;
line-height: 1.4375rem;
text-transform: capitalize;
}
.services-paig-body-sub-title {
  line-height: 180%;
  margin: .5625rem 0rem 0rem 0rem;
}
.services-paig-body-img {
  img {
    max-width: none;
  }
}
@media (min-width: 64rem) {
  .services-paig-body {
  &:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: .0625rem;
    background: #fff;
  }
}
}
@media (max-width: 64rem) {
  .services-paig-body { 
    flex: 0 0 auto;
  }
}
/*================.need__block====================*/
.need {
  @include adaptiv-value("margin-top", 118, 80, 1);
}
.need__text {
  transform: translate(0px,70%);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.need__title {
  font-weight: 700;
font-size: 2.25rem;
line-height: 2.5625rem;
}
.need__sub-title {
  font-weight: 500;
font-size: 1.5rem;
line-height: 1.75rem;
margin: 1.875rem 0rem 0rem 0rem;
max-width: 36.375rem;
}
.need__body-conteiner {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
  @include adaptiv-value("gap", 40, 15, 1);
  margin: 4.5rem 0rem 0rem 0rem;
}
.need__body {
  transform: scale(0);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: scale(1);
    opacity: 1;
    }
  flex: 0 1 36.25rem;
  background: #FFFFFF;
border-radius: .75rem;
color: #000;
display: flex;
justify-content: center;
padding: 1.5rem .9375rem 2.5rem .9375rem;
gap: 1.0625rem;
}
.need__body-conteiner {
	&._active {
		div {
			@for $var from 1 to 8 {
				$delay: $var * 0.2;
				&:nth-child(#{$var}) {
					@if $var==1 {
						transition: transform 0.8s ease 0s;
					} @else {
						transition: transform 0.8s ease #{$delay + s};
					}
				}
			}
		}
	}
}
.need__body-img {
  min-width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FC3867;
  max-width: 100%;
}
.need__body-title {
  font-weight: 700;
font-size: 1.5rem;
line-height: 1.75rem;
}
.need__body-sub-title {
  font-size: 1.125rem;
line-height: 160%;
color: #272727;
max-width: 22.625rem;
margin: 1.5rem 0rem 0rem 0rem;
}
@media (max-width: 26.5625rem) { 
  .need__body-sub-title {
    font-size: .875rem;
  }
}
/*=========================================*/
.gallery {
  @include adaptiv-value("margin-top", 110, 70, 1);
}
.gallery__text {
  transform: translate(0px,70%);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.gallery__title {
  font-size: 2.5rem;
line-height: 2.875rem;
}
.gallery__sub-title {
  font-size: .875rem;
line-height: 1.5rem;
color: #999999;
margin-top: 1.125rem;
max-width: 26.0625rem;
}
.gallery-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  overflow: hidden;
  font-size: 0;
  margin-top: 3.5rem;
  justify-content: center;
}
.gallery-item{
  transform: scale(0);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: scale(1);
    opacity: 1;
    }
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: .75rem;
}
.gallery-item-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fc3866b9;
  color: #fff;
  display: flex;
  font-family: inherit;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2;
}
.gallery-item:hover .gallery-item-hover{
  opacity: 1;
}
.gallery-item:hover img{
  transform: scale(1.2) rotate(-5deg);
}
.gallery-item img{
  max-width: 100%;
  height: auto;
  transition: all .5s ease;
}
/*==================price__block=====================*/
.price {
  @include adaptiv-value("margin-top", 110, 70, 1);
}
.price__text {
  transform: translate(0px,70%);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.price__sub-title {
  font-weight: 500;
font-size: 1rem;
line-height: 1.125rem;
&:not(:last-child)
  {margin: 0rem 0rem 1rem 0rem;}
}
.price__title {
  font-weight: 500;
font-size: 2.5rem;
line-height: 3.125rem;
max-width: 30.25rem;
}
.price__body-conteiner {
  margin-top: 4.4375rem;
   display: flex;
   flex-wrap: wrap;
   column-gap: 2.5rem;
   row-gap: 1.875rem;
    justify-content: center;
}
.price__body-conteiner {
	&._active {
		div {
			@for $var from 1 to 4 {
				$delay: $var * 0.2;
				&:nth-child(#{$var}) {
					@if $var==1 {
						transition: transform 0.8s ease 0s;
					} @else {
						transition: transform 0.8s ease #{$delay + s};
					}
				}
			}
		}
	}
}
.price__body {
  transform: scale(0);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: scale(1);
    opacity: 1;
    }
  background: #FFFFFF;
border-radius: .75rem;
color: #000;
flex: 0 1 18.75rem;
padding: 3.25rem 0rem 3rem 1.5rem;
}

.price__body-title {
  font-weight: 700;
font-size: 1.25rem;
line-height: 1.4375rem;
&:not(:last-child)
  {margin: 0rem 0rem 1.3125rem 0rem;}
}
.price__body-price {
line-height: 3.4375rem;
color: #000000;
span {
  font-size: 3rem;
  font-weight: 500;
}
&:not(:last-child)
  {margin: 0rem 0rem 1.5rem 0rem;}
}
.price__body-points-conteiner {
  &:not(:last-child)
    {margin: 0rem 0rem 1.8125rem 0rem;}
}
.price__body-points {
  display: flex;
  align-items: center;
  gap: .5rem;
  &:not(:last-child)
    {margin: 0rem 0rem 1rem 0rem;}
}
.price__body-points-title {
  font-size: .875rem;
line-height: 1rem;
color: #272727;
}
.price__body-btn-conteiner {
  display: flex;
  justify-content: center;
}
.price__body-btn {
  display: inline-block;
  border: .075rem solid #272727;
border-radius: 3.125rem;
padding: .75rem 2.8125rem;
transition: all 0.3s ease 0s;
&:hover {
  background: #FC3867;
  border: .075rem solid #FC3867;
}
&:hover a{
 font-weight: 500;
color: #FFFFFF;
}
a {
  font-weight: 400;
  font-size: .875rem;
line-height: 1.875rem;
color: #272727;
}
}
/**===============subscribe__block=======================*/
.subscribe {
  @include adaptiv-value("margin-top", 172, 80, 1);
  background: #FFFFFF;
}
.subscribe__block {
  transform: translate(-200%,0px);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem 0rem;
}
.subscribe__sub-title {
  font-weight: 600;
font-size: 1rem;
line-height: 1.25rem;
color: #C4C4C4;
&:not(:last-child)
  {margin: 0rem 0rem 1rem 0rem;}
}
.subscribe__title {
  font-weight: 700;
font-size: 2.5rem;
line-height: 4rem;
color: #212226;
&:not(:last-child)
  {margin: 0rem 0rem 1.6875rem 0rem;}
}
.subscribe__btn {
  padding: 1.125rem 2.5rem;
}
/*===================footer=======================*/
.footer {
  background: #070707;
}
.footer__center {
  position: relative;
  padding: 2.5rem 0rem;
  display: flex;
    flex-wrap: wrap;
    column-gap: 5.625rem;
    row-gap: 1.875rem;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: .0625rem;
        background: rgba(196, 196, 196, 0.5);
    }
}
.footer__center-logo {
  transform: translate(-200%,0px);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
  p {
    font-size: .875rem;
line-height: 1.5rem;
color: #C4C4C4;
max-width: 19.875rem;
&:not(:last-child)
  {margin: 1rem 0rem 1.5rem 0rem;}
  }
}
.footer__center-logo-nav {
  display: flex;
  gap: 1rem;
  a {
    border: .1875rem solid #fff;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    &:hover {
      border: .1875rem solid #070707;
    }
  }
}
.footer__center-nav {
   display: flex;
    flex-wrap: wrap;
    column-gap: 5.875rem;
    row-gap: 3.125rem;
    justify-content: center;
}
.footer__center-nav {
	&._active {
		ul {
			@for $var from 1 to 5 {
				$delay: $var * 0.2;
				&:nth-child(#{$var}) {
					@if $var==1 {
						transition: transform 0.8s ease 0s;
					} @else {
						transition: transform 0.8s ease #{$delay + s};
					}
				}
			}
		}
	}
}
.footer__center-nav-list {
  transform: scale(0);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: scale(1);
    opacity: 1;
    }
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}
.footer__center-nav-title {
  font-size: 1rem;
line-height: 1.125rem;
}
.footer__center-nav-link {
  font-size: .875rem;
line-height: 1rem;
color: #C4C4C4;
transition: color 0.3s ease 0s;
&:hover {
  color: #FC3867;
  text-decoration: underline;
}
}
.footer__bottom {
  transform: translate(0px,70%);
    opacity: 0;
    transition: all 0.8s;
    &._active {
    transform: translate(0px,0px);
    opacity: 1;
    }
  padding: 2rem 0rem;
  text-align: center;
  font-size: .875rem;
line-height: 1rem;
color: rgba(196, 196, 196, 0.5);
}